body { background-color: rgb(87, 3, 3);
    
    color: rgb(255, 226, 7);
    margin:0;
    padding:0;
}

.vertical-line{   
  border-left: 3px solid rgb(246, 246, 0);
  border-right: 3px solid rgb(246, 246, 0);
  height: 100px;
  margin: 20px;  } 


footer {
  text-align: center;
  color: white;
  margin-top: 40px;
}

h1{  color: yellowgreen}

.topbar{  
       background-color: rgb(183, 167, 0);
       height:45px ;
       display:flex;
       align-items: center ;
       padding: 0 20px ;
       
}

.logo{
    color:white;
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
    letter-spacing: 2px;
    font-family: cursive;
    font-style:var(20px)}


.searchbox{ 
        padding: 7px;
        border-radius: 2px;
        border:none;
        width :250px;

    }


.menu{ 
    margin-left: auto;
}

.menu a {
     color:white;
     text-decoration: solid;
     margin-left: 20px;
     font-weight:bold ;
     font-family: Arial, Helvetica, sans-serif;
}







